**/.vscode
**/node_modules
**/dist
**/build
**/test
**/README.md
**/jest.config.ts
**/__mocks__
**/shell
**/examples
**/mt

.git
Dockerfile
.dockerignore
.eslintrc.json
.gitignore
.prettierignore
.prettierrc.json

/images